<div class="logincomponent-container">
   <mat-grid-list cols="3" rowHeight="230px">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile rowspan="2">
                <div class="logincomponent-Outside">
                    <div class="logincomponent-Inside">   
                        <br>
                        <mat-card-header>
                            <mat-card-title style="color:rgb(78, 53, 19);margin-left:3rem">Login Page</mat-card-title>
                        </mat-card-header>
                        <br>
                        <mat-form-field floatLabel="auto" appearance="outline" color="warn">
                            <mat-label style="color:rgb(78, 53, 19)"><mat-icon>lock</mat-icon>Username</mat-label>
                            
                                    <input matInput >  
                                    
                        </mat-form-field>
                        <br>
                        <mat-form-field floatLabel="auto" appearance="outline" color="warn">
                            <mat-label style="color: rgb(78, 53, 19)">Password</mat-label>
                            <input  matInput required placeholder="Password" type="password">
                        </mat-form-field> 
                        <br>
                        <button mat-raised-button (click)="myfunc()">Login</button>
                        <br>
                        <p>Not Registered? <a href="#" style="color: rgb(78, 53, 19)">Create an account</a>.</p>
                        
                    </div>
                </div>
            </mat-grid-tile>  
            <mat-grid-tile></mat-grid-tile> 
        
           
        </mat-grid-list> 
    


































</div>