<!-- <button mat-button [matMenuTriggerFor]="animals">COLOR MASTER</button>

<mat-menu #animals="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="vertebrates">Color Name</button>
  <button mat-menu-item [matMenuTriggerFor]="invertebrates">Color Code</button>
</mat-menu>

<mat-menu #vertebrates="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
  <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
  <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
  <button mat-menu-item>Birds</button>
  <button mat-menu-item>Mammals</button>
</mat-menu>

<mat-menu #invertebrates="matMenu">
  <button mat-menu-item>Insects</button>
  <button mat-menu-item>Molluscs</button>
  <button mat-menu-item>Crustaceans</button>
  <button mat-menu-item>Corals</button>
  <button mat-menu-item>Arachnids</button>
  <button mat-menu-item>Velvet worms</button>
  <button mat-menu-item>Horseshoe crabs</button>
</mat-menu>

<mat-menu #fish="matMenu">
  <button mat-menu-item>Baikal oilfish</button>
  <button mat-menu-item>Bala shark</button>
  <button mat-menu-item>Ballan wrasse</button>
  <button mat-menu-item>Bamboo shark</button>
  <button mat-menu-item>Banded killifish</button>
</mat-menu>

<mat-menu #amphibians="matMenu">
  <button mat-menu-item>Sonoran desert toad</button>
  <button mat-menu-item>Western toad</button>
  <button mat-menu-item>Arroyo toad</button>
  <button mat-menu-item>Yosemite toad</button>
</mat-menu>

<mat-menu #reptiles="matMenu">
  <button mat-menu-item>Banded Day Gecko</button>
  <button mat-menu-item>Banded Gila Monster</button>
  <button mat-menu-item>Black Tree Monitor</button>
  <button mat-menu-item>Blue Spiny Lizard</button>
  <button mat-menu-item disabled>Velociraptor</button>
</mat-menu> -->

<!-- <nav class="ng-tns-c12-2 ng-star-inserted">
  <button class="docs-nav-content-btn" cdkaccordionitem="" expanded="true" aria-label="Form Controls, section toggle" aria-controls="panel-forms" aria-expanded="true"> Form Controls <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">keyboard_arrow_up</mat-icon></button>
  <ul class="ng-tns-c12-2 ng-trigger ng-trigger-bodyExpansion" id="panel-forms" style="display: block;"><!----><li class="ng-tns-c12-2 ng-star-inserted" ><a class="ng-tns-c12-2 docs-component-viewer-sidenav-item-selected" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/autocomplete"> Autocomplete </a></li>
    <!-- <li class="ng-tns-c12-2 ng-star-inserted" ><a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/checkbox"> Checkbox </a></li>
    <li class="ng-tns-c12-2 ng-star-inserted" ><a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/datepicker"> Datepicker </a></li><li class="ng-tns-c12-2 ng-star-inserted" ><a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/form-field"> Form field </a></li>
    <li class="ng-tns-c12-2 ng-star-inserted" ><a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/input"> Input </a></li>
    <li class="ng-tns-c12-2 ng-star-inserted" ><a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/radio"> Radio button </a></li><li class="ng-tns-c12-2 ng-star-inserted" ><a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/select"> Select </a></li>
    <li class="ng-tns-c12-2 ng-star-inserted" ><a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/slider"> Slider </a></li><li class="ng-tns-c12-2 ng-star-inserted" ><a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/slide-toggle"> Slide toggle </a></li>
  </ul><hr class="ng-tns-c12-2 ng-star-inserted">
</nav>  -->

    <!-- <div class="list">
            <mat-nav-list>    
                    <mat-list-item (click)="set(0)" class="crumb" style="background-color:white; width:140px;border:1px solid;">CRUMB</mat-list-item><br>
                    <mat-list-item (click)="set(1)" class="solutionb" style="background-color:white; width:140px;border:1px solid;">SOLUTIONB</mat-list-item><br>
                    <mat-list-item (click)="set(2)" class="modul" style="background-color:white; width:140px;border:1px solid;">MODULER</mat-list-item><br>
                    <mat-list-item (click)="set(3)" class="colortype" style="background-color:white; width:140px;border:1px solid;">COLOR MASTER<mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">keyboard_arrow_down</mat-icon>
                
                    </mat-list-item><br>
                    
                    <mat-list-item (click)="set(4)" class="production" style="background-color:white; width:140px;border:1px solid;">PRODUCTION</mat-list-item><br>
                    <mat-list-item (click)="set(5)" class="payroll" style="background-color:white; width:140px;border:1px solid;">PAYROLL</mat-list-item>
            </mat-nav-list> 
        </div> -->



<!-- 
<mat-nav-list>    
   <mat-list-item (click)="set(0)" class="SideNav" style="background-color:#ffcc00; width:130px;">SIDENAV</mat-list-item><br> -->
  <!-- <mat-list-item (click)="set(0)" class="crumb" style="background-color:white; width:140px;border:1px solid;">CRUMB</mat-list-item><br>
  <mat-list-item (click)="set(1)" class="solutionb" style="background-color:white; width:140px;border:1px solid;">SOLUTIONB</mat-list-item><br>
  <mat-list-item (click)="set(2)" class="modul" style="background-color:white; width:140px;border:1px solid;">MODULER</mat-list-item><br>
  <mat-list-item  mat-button [matMenuTriggerFor]="menu" class="colortype" style="background-color:white; width:140px;border:1px solid;">COLOR MASTER<mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">keyboard_arrow_down</mat-icon>
 
  <mat-menu #menu="matMenu">
      <button mat-menu-item  (click)="set(3)" [matMenuTriggerFor]="colorname"  style="background-color:white; width:140px;border:1px solid;">Color Name</button>
      <button mat-menu-item (click)="set(4)" [matMenuTriggerFor]="colorcode"  style="background-color:white; width:140px;border:1px solid;">Color Code</button>
  </mat-menu> 
   -->
 
  <!-- <mat-list class="child">
      <a mat-list-item (click)="set(4)">Color Name</a>
      <a mat-list-item (click)="set(5)">Color Code</a>
  </mat-list> -->


<!-- 
  </mat-list-item>
  
  <mat-list-item (click)="set(5)" class="production" style="background-color:white; width:140px;border:1px solid;">PRODUCTION</mat-list-item><br>
  <mat-list-item (click)="set(6)" class="payroll" style="background-color:white; width:130px;border:1px solid;">PAYROLL</mat-list-item>
</mat-nav-list>  --> 
