   <!-- <div class="main-content">
        <router-outlet></router-outlet>
        <div class="main">
            <h2 style="color: #112f5a">TILES</h2>
            <p>tiles are thin, flat tiles that are usually shaped with beveled edges.
             They are used for lining or covering a surface, and may provide corrosion resistance, 
             thermal protection, wear resistance, and/or surface decoration. 
             Ceramic tiles come in many different shapes, sizes, and colors.
             They are secured to a surface such as a subfloor with mortar.
             The spaces between the tiles are filled with grout. In flooring applications, 
             cross-shaped 
            plastic spacers are used to separate the tiles prior to grouting.</p>
            <br>
            <h3 style="color:navy">Types</h3>
                <p>There are many different types of tiles,
                   both in terms of categories and features.</p>
                   <ul>
                       <li>waterproof</li>
                       <li>mosaic</li>
                       <li>ribbed</li>
                       <li>quarry</li>
                       <li>saltillo</li>
                       <li>stoneware</li>
                       <li>earthenware</li>
                   </ul>
                   
              <h3 style="color: navy">Crumb</h3>
               <p>Crumb rubber produced from grinding process and having
                    size less than 1mm was used for the study. The
                    photo of crumb rubber. The properties of crumb rubber are
                    over it and compacted by vibration. The specimens were
                    prepared with replacements of 2, 4 and 5%.
               </p>
               <div class="one">
               <h3 style="color: navy">Image Gallery</h3>
                    <mat-grid-list cols="3" rowHeight="230px">
                            <mat-grid-tile>
                                <div class="img3"></div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="img2"></div>
                            </mat-grid-tile> 
                            <mat-grid-tile>
                                <div class="img4">
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                    <div class="img5">
                                    </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                    <div class="img7">
                            </div>
                            </mat-grid-tile>
        
                            <mat-grid-tile>
                                    <div class="img8">
                                    </div>
                            </mat-grid-tile>
                    </mat-grid-list>
                </div>
          </div>  
    </div>

 -->
